{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
